@font-face {
    font-family: lexend;
    src: url(Lexend_Deca/LexendDeca-VariableFont_wght.ttf);
}
* {
    font-family: "lexend", "Tahoma", sans-serif;
}
a {
    all: unset;
}
.trade-text{
    color: #eee;
}
/*html{*/
/*    height: 100%;*/
/*    display: flex;*/
/*}*/
/*body {*/
/*!*min-height: 100%;*!*/
/*    flex: 1;*/
/*}*/

@media only screen and (max-width: 2599px) {

}
@media only screen and (min-width: 2600px) {
    .background{
        padding: 0 15%;
    }
}
.background{

    width: 100%;
    height: 100%;
    min-height: 80vh;
    padding-bottom: 10em;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: rgb(10,16,49);
    background: linear-gradient(180deg, rgba(10,16,49,1) 0%, rgba(36,10,96,1) 41%, rgba(45,38,150,1) 84%, rgba(203,109,109,1) 100%);

}


body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.top-img{
    background-image: url("/images/capitol-building-filter.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.extend {
    height: 104vh;
    width: 100%;
}

.top-img-banner {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
}

.card-milk {
    z-index: 5;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    perspective: 33px;
    perspective-origin: 50% 50%;
    width: 100%;
    height: 100%;
    transition: all 0.75s ease;
}

/*.card-milk>form{*/
/*    width: 100%;*/
/*    display: flex;*/
/*}*/
.card-bot-right>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    width: 100%;
}
.card-bot-right>form{
        width: 100%;
        display: flex;
    justify-content: center;
}
.carton{
    z-index: 3;
    background-image: url("../images/milk.webp");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.15;
}

.img {
    background-image: url("https://a.storyblok.com/f/158613/450x550/f77d40b8e2/e000285.jpg/m/225x225/smart/filters:quality(90)");
    filter: grayscale(1);
    background-size: contain;
    display: inline-block;
    border: solid 1px #eee;
    aspect-ratio: 1 / 1;
    width: 20%;
    border-radius: 0.1em;
}
.gs{
    filter: grayscale(1);
}
.zen-ps-sticky{
    position: sticky;
}
.name {
    color: #eee;
    margin-left: 0.5em;
    font-size: 2vw;
    font-weight: 100;
    display: inline-block;
    transition: color 1s;
    /*transition-delay: 1s;*/
}

.card-hr {
    width: 90%;
    border-top: solid 1px #4d4d4d9d;
    margin-top: 1em;
}
.card-top {
    /*margin-left: 18%;*/
    margin-top: 33%;
    display: flex;
    width: 88%;
    justify-content: start;
    align-items: center;
}
.card-bot {
    width: 100%;
    height: 9em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card-bot-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    width: 100%;
    justify-content: center;
    /*height: 100vh;*/
    flex-wrap: wrap;
}
.c-cus>div {

    width: 33%;

}
.date {
    color: #eee;
    font-family: "Courier New", Courier, monospace;

    margin: 5% 11%  0 auto;
}
.ticker {
    color: #31d761;
    font-size: 4vw;
    font-weight: lighter;
}
.trade-results {
    color: #de7dc2;
    font-size: 4vw;
    font-weight: lighter;
}
.trades-top{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.card-container {
    position: relative;
    aspect-ratio: 29 / 33;
    width: 90%;
    /*height: 33em;*/
}

.fake-carton-container {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}
.fcc-1 {
    position: absolute;
    width: 96%;
    left: 2%;
    height: 60%;
    bottom: 2%;
    backdrop-filter: blur(10px);
}
.fcc-2 {
    transform: perspective(19px) rotateX(1deg);
    position: absolute;
    width: 90%;
    left: 5%;
    height: 24%;
    bottom: 62%;
    backdrop-filter: blur(10px);
}
.fcc-3 {
    transform: perspective(40px) rotateX(1deg);
    position: absolute;
    width: 83%;
    left: 8.5%;
    height: 13%;
    bottom: 85.3%;
    backdrop-filter: blur(10px);
}
.milk-container {
    z-index: 4;
    position: absolute;
    bottom: 4%;
    width: 100%;
    height: 00%;
    transition: all 1s ease;
}
.milk {
    position: absolute;
    width: 92%;
    left: 4%;
    height: 50%;
    bottom: 0%;
    background-color: #eee;
    border-radius: 0 0 1em 1em;
}
.milk-wave {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 200%;
    height: 100%;
    background: url("../images/waves.png") repeat-x;
    background-size: contain;

    transform: translate(0);
}
.range{
    transition: color 1s;
    color: #eee;}
.type{
    transition: color 1s;
    color: #eee;}
.card-container:hover .name, .card-container:hover .range, .card-container:hover .type, .card-container:hover .sign-in-prompt{
color: #222;
}
.sign-in-prompt{
    color: transparent;
    transition: color 1s;
}
.card-container:hover .milk-container {
    height: 100%;
}
.card-container:hover .milk-wave {
    animation: waves 2s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}
.wave-clip {
    position: absolute;
    bottom: 50%;
    left: 4%;
    width: 92%;
    height: 10%;
    overflow: hidden;
}
.blur{
    filter:  grayscale(1) blur(10px);
}
.tickerblur{
    color: #00ff59;
    font-size: 4em;
    font-weight: lighter;
    filter:  blur(8px);
}
@keyframes waves {
    0% {
        transform: translate(0%);
    }
    100% {
        transform: translate(-50%);
    }
}

.follow-btn{
    /*padding: 0.5em;*/
    /*margin: 0 10% 0 auto;*/
    color: #1b7c3a;
    background-color: transparent;
    border: solid 2px #31d761;
    border-radius: 1em;
    transition: all 1s;
}
.unfollow-btn{
    /*padding: 0.5em;*/
    /*margin: 0 10% 0 auto;*/
    color: #ff8e8e;
    background-color: transparent;
    border: solid 2px #ff8e8e;
    border-radius: 1em;
    transition: all 1s;
}
.unfollow-btn:hover{
    color: #d05353;
    border: solid 2px #d05353;
}
.follow-btn:hover{
    color: #3a91c5;
    border: solid 2px #3a91c5;
}
#search-form{
    position: relative;
}
#searchbar{
    background-color: transparent;
    /*color: var(--dk-brown);*/
    /*border-color: var(--dk-brown);*/
    color: #eee;
    /*border-radius: 20px;*/
    padding: 0 0.5em 0 0.5em;
    border: none;
}

#tradesearchbar{
    background-color: transparent;
    /*color: var(--dk-brown);*/
    /*border-color: var(--dk-brown);*/
    border-color: #eee;
    color: #eee;
    border-radius: 20px;
    padding: 0 0.5em 0 0.5em;
}
.zen-search-icon{
    position: absolute;
    right: 4%;
    top: 16%;
}


.testfooter{
    /*display: flex;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    margin-top: 6.5em;
    position: relative;
    width: 100%;
    height: 10em;
/*flex-direction: column;*/

}
.footer-field{
    position: absolute;
    /*background-image: url("yard.png");*/
    /*background-size: cover;*/
    width: 100%;
    height: 100%;
    bottom: 100%;
}
.footer-cow{
    /*background-image: url("cow.png");*/
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 180%;
    right: 25%;
}
.footer-main{
    width: 100%;
    height: 100%;
    /*color: #eeeeee;*/
    background: #378530;
}
.zen-login-card{
    flex: 1 1 auto;
    padding: 1em 1em;
    background: transparent;
    color: #eee;
}
.zen-login-card>form{
    display: flex;
    flex-direction: column;
}
.zen-login-card>p>a{
    text-decoration: none;
    color: #de7dc2;
}
.zen-login-maincard{
    border: solid 1px #333;
    background-color: rgba(238, 238, 238, 0.12);
    padding: 1em;
    border-radius: 1em;
}

#username, #password, #email{
    background-color: transparent;
    color: #eee;
}
#username::placeholder, #password::placeholder, #email::placeholder{
    color: #bbb;
}
.login-btn{
    /*padding: 0.5em;*/
    /*margin: 0 10% 0 auto;*/
    margin: 0.75em 0 0 auto;
    color: #00ff59;
    background-color: transparent;
    border: solid 2px #00ff59;
    border-radius: 1em;
    transition: all 1s;
}
.danger-btn{
    /*padding: 0.5em;*/
    /*margin: 0 10% 0 auto;*/
    margin: 0.75em 0 0 auto;
    color: #ff7272;
    background-color: transparent;
    border: solid 2px #ff7272;
    border-radius: 1em;
    transition: all 1s;
}
.about>*{
    color: #eee;
}
.about{
    padding: 4em;
}
.our-team{
    text-align:center;
    color: #eee;
    padding: 20px 0;
}
.user-profile{
    padding: 4em;
}
thead>tr>th, tbody>tr>td{
    color: #eee;
}
tbody>tr:nth-of-type(odd)>*{
    color: #ccc;
}
h1,h2{
    color: #eee;
}
a:hover{
    cursor: pointer;
}

.card-avatar{
    border: solid 1px #333;
    background-color: rgba(238, 238, 238, 0.12);
    padding: 1em;
    border-radius: 1em;
    color: #eee;
}
.profile-table{
    width: 90%;
}
.w-23{
    width: 23%;
}
.zen-row{
    display: flex;
    justify-content: space-evenly;
}
.mtt-fs{
    font-size: 1.7em;
}
.mtt-img{
width: 100%;
    aspect-ratio: 1 / 1;
}
.mtt-email{
    width: 100%;
    text-align: center;
}
.nav-search-container{
    border: solid 2px #444;
    border-radius: 20px;
}
#searchtype{
    border: none;
    border-right: solid 1px #333;
    padding-left: 0.5em;
    color: #eee;
    background-color: transparent;
    /*border: none;*/
}


.fa-minus-circle, .fa-plus-circle {
    font-size: 1.5em;
}
.text-danger {
    color: red;
}
.text-success {
    color: green;
}

#ticker-page {
    color: #00ff59;

    font-weight: bold;

}

#trades-page-name {
    color: #20b9d5;
    font-weight: bold;
    text-decoration: underline;
}

/*#ticker-page:nth-of-type(odd)>*{*/
/*    color: #00ff59;*/
/*    font-weight: bold;*/
/*}*/

.anon-banner{
    width: 100%;
    background-color: rgba(239, 191, 127, 0.49);
    text-align: center;
    border: solid 1px #dea65b;
    color: #dea65b;
}
.top20{
    font-size: 2em;
    color: #eee;
    text-align: center;
    width: 80%;
    border-bottom: solid 1px #ccc;
}

.zen-user-profile-left{
    min-height: 30em;
}

.trade-form{
    height: 8em;
}
.pol-prof-avatar{
    height: 25em;
}

.trade-nav-form{
    display: flex;
    justify-content: center;
}
.trade-nav-form>button{
    margin: 0.5em;
    border-radius: 0.75em;
    padding: 0 0.5em 0 0.5em;
}
