<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script th:replace="partials/partials :: bootstrap"></script>
    <link rel="stylesheet" href="CSS/main.css">
    <meta charset="UTF-8">
    <title>Politicians</title>
</head>
<body>
<nav th:replace="~{partials/partials :: navbar}"></nav>
<div class="background">
<div class="container c-cus">
        <div sec:authorize="isAuthenticated()" th:each="pol : ${pols}" >
            <div class="card-container">
                <div class="fake-carton-container">
                    <div class="fcc-1"></div>
                    <div class="fcc-2"></div>
                    <div class="fcc-3"></div>
                </div>
                <div class="card-milk">
                    <div class="date" th:text="${pol.getLatestTrade()?.getDate()}"></div>
                    <div class="card-top">
                        <img class="img" th:src="${pol.getImageURL()}">
                        <div >
                        <a class="name" th:href="@{'/politician-profile?pol=' + ${pol.name}}" th:text="${pol.name}"></a>

<!--                        <div th:text="${pol.getTradeCount()}"></div>-->

<!--                        <div th:text="${pol.getTotals()[0]}"></div>-->
<!--                        <div th:text="${pol.getTotals()[1]}"></div>-->
<!--                        <div th:text="${pol.getTotals()[2]}"></div>-->
<!--                        <div th:text="${pol.getTotals()[3]}"></div>-->
                        </div>

                    </div>
                    <div class="card-hr"></div>
                    <div class="card-bot">
                        <a class="ticker" th:href="@{'/trades?searchbar=' + ${pol.getLatestTrade()?.getTicker()}}" th:text="${pol.getLatestTrade()?.getTicker()}"></a>
                        <div class="card-bot-right">
                            <div>
                                <div class="range" th:text="${pol.getLatestTrade()?.getRange()}"></div>
                                <div class="type" th:text="${pol.getLatestTrade()?.getTransactionType()}"></div>
                            </div>
                            <form th:action="@{/politicians}" th:method="POST" >
                                <button th:if="${names?.contains(pol.getName())}" name="follow-btn" th:value="${false}" type="submit" class="unfollow-btn">Unfollow</button>
                                <input type="hidden" id="pol_id" name="pol_id" th:value="${pol.getName()}">
                                <button th:unless="${names?.contains(pol.getName())}" name="follow-btn" th:value="${true}" type="submit" class="follow-btn">Follow</button>
                            </form>
                        </div>
                        <!-- <div class="body">This is the body</div> -->
                    </div>

                </div>

                <div class="milk-container">
                    <div class="wave-clip">
                        <div class="milk-wave"></div>
                    </div>
                    <div class="milk"></div>
                </div>
                <div class="carton"></div>
            </div>
        </div>
        <div sec:authorize="isAnonymous()" th:each="pol : ${pols}" >
            <div class="card-container">
                <div class="fake-carton-container">
                    <div class="fcc-1"></div>
                    <div class="fcc-2"></div>
                    <div class="fcc-3"></div>
                </div>
                <div class="card-milk">
                    <div class="date" th:text="${pol.getLatestTrade().getDate()}"></div>
                    <div class="card-top">
                        <img class="img blur" th:src="${pol.getImageURL()}">
                        <div class="name blur" th:text="${pol.name}"></div>
                    </div>
                    <div class="card-hr"></div>
                    <div class="card-bot">
                        <div class="tickerblur" th:text="${pol.getLatestTrade().getTicker()}"></div>
                        <div class="card-bot-right">
                            <div class="range" th:text="${pol.getLatestTrade().getRange()}"></div>
                            <div class="type" th:text="${pol.getLatestTrade().getTransactionType()}"></div>
                        </div>

                    </div>

                </div>

                <div class="milk-container">
                    <div class="wave-clip">
                        <div class="milk-wave"></div>
                    </div>
                    <div class="milk"></div>
                </div>
                <div class="carton"></div>
            </div>
        </div>

</div>
<!--<div th:each="pol : ${pols}">-->
<!--    <img th:src="${pol.getImageURL()}">-->

<!--    <p th:text="${pol.name}" />-->
<!--    <div th:each="trade : ${pol.getTrades()}">-->
<!--        <span th:text="${trade.getTicker()}" />-->
<!--        <span th:text="${trade.getDate()}" />-->
<!--        <span th:text="${trade.getTransactionType()}" />-->
<!--        <span th:text="${trade.getRange()}" />-->
<!--    </div>-->
<!--    -->
<!--</div>-->
</div>
<footer th:replace="~{partials/partials :: footer}"></footer>
<script th:replace="~{partials/partials :: bootstrap-footer}"></script>
<!--<footer class="testfooter">-->
<!--&lt;!&ndash;    <div class="footer-field"></div>&ndash;&gt;-->
<!--    <img class="footer-field" src="/images/yard.png" alt="grass">-->
<!--    <img class="footer-cow" src="/images/cow.png" alt="cow">-->
<!--    <div class="footer-main">this is a footer</div>-->
<!--</footer>-->
</body>
</html>