<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!--        <link rel="stylesheet" href="/CSS/views/index-user.css">-->
    <meta charset="UTF-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>Index User</title>
    <script th:replace="partials/partials :: bootstrap"></script>
    <link rel="stylesheet" href="/CSS/main.css">

</head>
<body class="background">
<nav th:replace="~{partials/partials :: navbar}"></nav>
<div class="page-wrapper">
    <div class=" top-img extend">
        <div>
            <h1 class=" top-img-banner">Unleash the power of insider trading...without actually breaking the law.</h1>
            <h2 class=" top-img-banner mt-5">We got the Milk!</h2>
        </div>
    </div>

    <!-- Politician Specific Page -->

        <div class="container c-cus">
            <div sec:authorize="isAuthenticated()" th:each="trade : ${trades}">
                <div class="card-container">
                    <div class="fake-carton-container">
                        <div class="fcc-1"></div>
                        <div class="fcc-2"></div>
                        <div class="fcc-3"></div>
                    </div>
                    <div class="card-milk">
                        <div class="date" th:text="${trade.getDate()}"></div>
                        <div class="card-top">
                            <img class="img" th:src="${trade.getPolitician().getImageURL()}">
                            <div class="name" th:text="${trade.getPolitician().name}"></div>
                        </div>
                        <div class="card-hr"></div>
                        <div class="card-bot">
                            <div class="ticker" th:text="${trade.getTicker()}"></div>
                            <div class="card-bot-right">
                                <div class="range" th:text="${trade.getRange()}"></div>
                                <div class="type" th:text="${trade.getTransactionType()}"></div>
                            </div>
                        </div>
                        <form th:action="@{/api/recent}" th:method="POST">
                            <button th:if="${names?.contains(trade.politician?.getName())}" name="follow-btn"
                                    th:value="${false}" type="submit" class="unfollow-btn">Unfollow
                            </button>
                            <input type="hidden" id="pol_id" name="pol_id" th:value="${trade.politician.getName()}">
                            <button th:unless="${names?.contains(trade.politician?.getName())}" name="follow-btn"
                                    th:value="${true}" type="submit" class="follow-btn">Follow
                            </button>
                        </form>
                    </div>

                    <div class="milk-container">
                        <div class="wave-clip">
                            <div class="milk-wave"></div>
                        </div>
                        <div class="milk"></div>
                    </div>
                    <div class="carton"></div>
                </div>
            </div>
            <div sec:authorize="isAnonymous()" th:each="trade : ${trades}">
                <div class="card-container">
                    <div class="fake-carton-container bg-dark">
                        <div class="fcc-1"></div>
                        <div class="fcc-2"></div>
                        <div class="fcc-3"></div>
                    </div>
                    <div class="card">
                        <div class="date" th:text="${trade.getDate()}"></div>
                        <div class="card-top">
                            <img class="img blur" th:src="${trade.getPolitician().getImageURL()}">
                            <div class="name blur" th:text="${trade.getPolitician().name}"></div>
                        </div>
                        <div class="card-hr"></div>
                        <div class="card-bot">
                            <div class="tickerblur" th:text="${trade.getTicker()}"></div>
                            <div class="card-bot-right">
                                <div class="range" th:text="${trade.getRange()}"></div>
                                <div class="type" th:text="${trade.getTransactionType()}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="milk-container">
                        <div class="wave-clip">
                            <div class="milk-wave"></div>
                        </div>
                        <div class="milk"><a class="d-flex justify-content-center " href="/login">Sign In to View!</a></div>
                    </div>
                    <div class="carton"></div>
                </div>
            </div>
        </div>
</div>
<footer th:replace="partials/partials :: footer"></footer>
<script th:replace="partials/partials :: bootstrap-footer"></script>
</body>
</html>