<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!--        <link rel="stylesheet" href="/CSS/views/index-user.css">-->
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>Index User</title>
    <script th:replace="partials/partials :: bootstrap"></script>

</head>
<body>
<nav th:replace="~{partials/partials :: navbar}"></nav>
<div class="container vh-100">
    <!-- Politician Specific Page -->
    <div>
        <div class="card text-center" style="width: 18rem;">
<!--            <img src="..." class="card-img-top" alt="Avatar Politician Photo">-->
            <div class="card-body" th:each="trade : ${pol?.getTrades()}">
                <h5 class="card-title" th:text="${trade.getTicker()}"></h5>
                <p class="card-text" th:text="${trade.getDate}"></p>
                <p class="card-text" th:text="${trade.getTransactionType()}"></p>
                <p class="card-text" th:text="${trade.getRange()}"></p>

                <a href="/politician-profile" class="btn btn-primary">View Politician Profile</a>
            </div>
        </div>

    </div>
</div>
    <footer th:replace="partials/partials :: footer"></footer>
    <script th:replace="partials/partials :: bootstrap-footer"></script>
</body>
</html>