<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script th:replace="partials/partials :: bootstrap"></script>
    <link rel="stylesheet" href="CSS/main.css">
    <link rel="stylesheet" href="/CSS/views/meet-the-team.css">
    <meta charset="UTF-8">
    <title>Meet the team</title>
</head>
<body>
<nav th:replace="partials/partials :: navbar(isAuthenticated=${#authentication.principal != 'anonymousUser'})"></nav>
<div class="background">
<!--<div class="about-section">-->
<!--    <h1>About Us Page</h1>-->
<!--    <p>Some text about who we are and what we do.</p>-->
<!--    <p>Resize the browser window to see that this page is responsive by the way.</p>-->
<!--</div>-->

<h2 class="our-team">Our Team</h2>
<div class="zen-row">
    <div class="w-23">
        <div class="card-avatar ">
            <img src="/images/jona.png" alt="Jona" class="mtt-img">
            <div class="container">
                <h2 class="mtt-fs">Jona Gonzalez</h2>
                <p class="title">Something here</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p class="mtt-email">jane@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="w-23">
        <div class="card-avatar">
            <img src="/images/will.png" alt="Will"  class="mtt-img">
            <div class="container">
                <h2 class="mtt-fs">Will Parry</h2>
                <p class="title">Something here</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p class="mtt-email"> mike@example.com</p>

                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="w-23">
        <div class="card-avatar">
            <img src="/images/jeff.png" alt="Jeff"  class="mtt-img">
            <div class="container">
                <h2 class="mtt-fs">Jeff Neal</h2>
                <p class="title">Something Here</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p class="mtt-email">jeffneal11@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="w-23">
        <div class="card-avatar">
            <img src="/images/nando.png" alt="Nando"  class="mtt-img">
            <div class="container">
                <h2 class="mtt-fs">Fernando Rivera</h2>
                <p class="title">Something Here</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p class="mtt-email">john@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
</div>
<footer th:replace="partials/partials :: footer"></footer>
<script th:replace="partials/partials :: bootstrap-footer"></script>
</body>
</html>