<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
    <title>Politician Profile</title>

</head>
<body>
<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="column">
                <h1>Politician Name</h1>

                <!-- button to view recent trades -->
                <button>Recent Trades</button>

                <!-- button to add card to favorites -->
                <button>Add to Favorites</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>