<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <script src="https://use.fontawesome.com/18c791aaa7.js"></script>
  <script th:replace="partials/partials :: bootstrap"></script>

  <link rel="stylesheet" href="CSS/main.css">

  <meta charset="UTF-8">
  <title>Trades</title>
</head>
<body>
<nav th:replace="~{partials/partials :: navbar}"></nav>
<div class="background p-5">
  <div class="trades-top">
    <!--<form class="m-0" id="search-form" action="/trades">-->

    <!--  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#eeeeee" class="bi bi-search zen-search-icon" viewBox="0 0 16 16">-->
    <!--    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>-->
    <!--  </svg>-->

    <!--  <input id="tradesearchbar" name="searchbar" type="text" placeholder="Search Trades...">-->

    <!--</form>-->
    <h1 class="trade-results" th:text="${trades.size() + ' Results'}"></h1>
  </div>
<hr>
  <form th:if="${!searched}" th:action="@{/trades}" th:method="GET" class="mb-5 trade-nav-form">
    <button  name="page" th:value="${curPage - 1}" type="submit" class="login-btn"><<</button>
    <!--      <input type="hidden" id="page" name="pol_id" th:value="${pol.getName()}">-->
    <button  name="page" th:value="${curPage + 1}" type="submit" class="login-btn">>></button>
  </form>


  <div th:if="${trades.size() > 0}">
    <table class="table">
      <thead>
      <tr>
        <th>Ticker</th>
        <th>Transaction Type</th>
        <th>Trade Range</th>
        <th>Politician Name</th>
        <th></th>
        <th>Trade Date</th>
        <th>Reported Date</th>
      </tr>
      </thead>
      <tbody>

      <tr th:each="trade : ${page}">

        <td>
          <a id="ticker-page" th:href="@{'/trades?searchbar=' + ${trade.getTicker()}}" th:text="${trade.getTicker()}"></a>
        </td>
        <td>
          <span th:text="${trade.transactionType}"></span>
          <i th:class="${trade.transactionType == 'Sale' ? 'fas fa-minus-circle text-danger' : 'fas fa-plus-circle text-success'}"></i>
        </td>
        <td th:text="${trade.range}"></td>

        <td class="">
          <a  id="trades-page-name" th:href="@{'/politician-profile?pol=' + ${trade.getPolitician().name}}" th:text="${trade.getPolitician().name}"></a>
        </td>
        <td>

          <form th:action="@{/trades}" th:method="POST" >
            <button th:if="${names?.contains(trade.getPolitician().getName())}" name="follow-btn" th:value="${false}" type="submit" class="unfollow-btn btn btn-primary">Unfollow</button>
            <input type="hidden" id="pol_id" name="pol_id" th:value="${trade.getPolitician().name}">
            <input type="hidden" id="ticker" name="ticker" th:value="${trade.ticker}">
            <input type="hidden" id="search" name="search" th:value="${searched}">
            <input type="hidden" id="thisPage" name="thisPage" th:value="${curPage}">
            <button th:unless="${names?.contains(trade.getPolitician().getName())}" name="follow-btn" th:value="${true}" type="submit" class="follow-btn btn btn-primary">Follow</button>
          </form>
        </td>

        <td th:text="${trade.date}"></td>
        <td th:text="${trade.reportedDate}"></td>
      </tr>

      </tbody>
    </table>

    <div th:unless="${trades.size() > 0}">
      <h1 class="ticker">No results...</h1>
    </div>
    <form th:if="${!searched}" th:action="@{/trades}" th:method="GET" class="mb-5 trade-nav-form">
      <button  name="page" th:value="${curPage - 1}" type="submit" class="login-btn"><<</button>
<!--      <input type="hidden" id="page" name="pol_id" th:value="${pol.getName()}">-->
      <button  name="page" th:value="${curPage + 1}" type="submit" class="login-btn">>></button>
    </form>
  </div>
</div>
<footer th:replace="partials/partials :: footer"></footer>
<script th:replace="partials/partials :: bootstrap-footer"></script>
</body>
</html>