<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <script th:replace="partials/partials :: bootstrap"></script>
  <link rel="stylesheet" href="CSS/main.css">
  <meta charset="UTF-8">
  <title>Trades</title>
</head>
<body>
<nav th:replace="~{partials/partials :: navbar}"></nav>
<div class="background p-4">
  <div class="trades-top">
<!--<form class="m-0" id="search-form" action="/trades">-->

<!--  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#eeeeee" class="bi bi-search zen-search-icon" viewBox="0 0 16 16">-->
<!--    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>-->
<!--  </svg>-->

<!--  <input id="tradesearchbar" name="searchbar" type="text" placeholder="Search Trades...">-->

<!--</form>-->
<h1 class="trade-results" th:text="${tradeTotal + ' Results'}"></h1>

  </div>
<div th:if="${trades.size() > 0}">
  <div th:each="trade : ${trades}">
    <div>
      <span class="ticker" th:text="${trade.ticker}"></span>
      <span class="trade-text" th:text="${trade.transactionType}"></span>
      <span class="trade-text" th:text="${trade.range}"></span>
      <span class="trade-text" th:text="${trade.politician.name}"></span>
      <span class="trade-text" th:text="${trade.date}"></span>
      <span class="trade-text" th:text="${trade.reportedDate}"></span>
    </div>
  </div>
  <form  class="trade-form" th:action="@{/trades{path}(path=${path})}"  >
    <button name="arrow-btn" th:value="left" th:text="back"></button>
    <button name="arrow-btn" th:value="right" th:text="forward"></button>
  </form>
</div>
<div th:unless="${trades.size() > 0}">
  <h1 class="ticker">No results...</h1>
</div>

</div>
<footer th:replace="partials/partials :: footer"></footer>
<script th:replace="partials/partials :: bootstrap-footer"></script>
</body>
</html>