<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link th:replace="partials/partials :: bootstrap">
    <link rel="stylesheet" href="/CSS/views/user-profile.css">
    <link rel="stylesheet" href="CSS/main.css">
</head>
<body>
<nav th:replace="partials/partials :: navbar(isAuthenticated=${#authentication.principal != 'anonymousUser'})"></nav>
<div class="user-profile background">
    <!-- Profile Page -->
    <div class="row">
        <div class="col-md-4 mb-4 zen-user-profile-left">
            <div class="card-avatar zen-ps-fixed ">
                <img src="/images/nando.png" alt="[User Name]'s avatar" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title" th:text="${user?.getUsername()}">[User Name]</h5>
                    <p class="card-text" th:text="${user?.getEmail()}">[User Email]</p>
                    <div class="d-flex flex-column">
                        <a href="/edit" class="login-btn px-1">Edit Profile</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="scrollable">
                <div class="container">
                    <div class="w-100">
                        <div class="col-md-12">

                            <h2>Followed Politicians</h2>

                            <table class="table profile-table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Latest Trade</th>
                                    <th>Following</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="pol: ${followedPoliticians}">
                                    <td><a th:href="@{'/politician-profile?pol=' + ${pol.getName()}}" th:text="${pol.getName()}"></a></td>
<!--                                    <td th:text="${pol.getName()}"></td>-->
                                    <td><a th:href="@{'/trades?searchbar=' + ${pol.getLatestTrade()?.getTicker()}}" th:text="${pol.getLatestTrade()?.getTicker()}"></a></td>
<!--                                    <td th:text="${pol.getLatestTrade()?.getTicker()}"></td>-->
                                    <td><form th:action="@{/user-profile}" th:method="POST" >
                                        <input type="hidden" id="pol_id" name="pol_id" th:value="${pol.getName()}"><button  name="follow-btn" th:value="${false}" type="submit" class="unfollow-btn">Unfollow</button></form></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
<footer th:replace="partials/partials :: footer"></footer>
<script th:replace="partials/partials :: bootstrap-footer"></script>
</body>
</html>