<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link th:replace="partials/partials :: bootstrap"></link>

</head>
<body>
<nav th:replace="partials/partials :: navbar(isAuthenticated=${#authentication.principal != 'anonymousUser'})"></nav>
<div class=" container vh-100">
    <h1>This is the User Profile Page</h1>
</div>

<footer th:replace="partials/partials :: footer"></footer>
<script th:replace="partials/partials :: bootstrap-footer"></script>
</body>
</html>